.card_container__title {
    display: flex;
    justify-content: center;
    margin-bottom: 0px !important;
    font-weight: bolder;
    font-size: larger;
}

.card_container__tasks_container {
    overflow-y: "auto";
    height: 85vh;
}

.card_container__no_tasks_message {
    display: flex;
    justify-content: center;
}

.card_container__wrapper {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
